@use "sass:color";

.referrals {
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 720px) {
    width: 95%;
  }

  .referral-container {
    height: 650px;
    margin: 0px auto;
    margin-top: 1rem;

    > :last-child {
      border: 1px solid $color-border;
      border-radius: 1rem;
    }
  }

  .referral-title-row {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    margin: 0px auto;

    @media screen and (max-width: 720px) {
      flex-flow: column nowrap;
      align-items: stretch;

      gap: 2rem;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.125rem;
    color: color.adjust($color-text, $lightness: -30%);
  }

  .no-referrals {
    color: $color-danger;
    padding: 32px;
    width: 100%;
    height: fit-content;
    margin: 0px auto;
    max-width: 650px;
  }

  .referral-section {
    padding: 2rem;

    border-radius: 1rem;
    border: 1px solid
      color.adjust($color-border, $alpha: -0.4, $lightness: -30%);

    @media screen and (max-width: 720px) {
      padding: 1rem;
    }
  }
}
