.referrals {
  .referral-container {
    width: 650px;
    height: 650px;
    margin: 0px auto;
  }
  .title {
    font-size: 22px;
    margin: 16px;
    font-weight: 700;
  }
  > :last-child {
    border: 1px solid $color-border;
    border-radius: 4px;
  }
  .no-referrals {
    color: $color-danger;
    padding: 32px;
    width: 100%;
    height: fit-content;
    margin: 0px auto;
    max-width: 650px;
  }
}
